# Environnement virtuel Python
venv/

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environnement
.env
.env.local
